<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration-Form</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://kit.fontawesome.com/1c7e477026.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="registration-form">
<a href="/#" class="back"><i class="fa-solid fa-left-long"> Back</i></a>
        <form method="POST">
            {% csrf_token %}
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <p>Enter your Name</p>
                <input required type="text" name="fullname" class="form-control item" id="username"
                    placeholder="Enter your Name">
            </div>
            <div class="form-group">
                <p>Blood Group</p>
                <input required type="text" name="blood" class="form-control item" id="password"
                    placeholder="Blood Group">
            </div>
            <div class="form-group">
                <p>Email id</p>
                <input required type="email" name="email" class="form-control item" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <p>Phone Number</p>
                <input required type="text" name="phone" class="form-control item" id="phone-number"
                    placeholder="Phone Number">
            </div>
            <div class="form-group">
                <p>Department</p>
                <input required type="text" name="department" class="form-control item" id="birth-date"
                    placeholder="Department">
            </div>
            <div class="form-group">
                <p>Address</p>
                <input required type="text" name="address" class="form-control item" id="birth-date"
                    placeholder="Address">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Create User</button>
            </div>
        </form>
        <div class="social-media">
            <!-- <h5>Sign up with social media</h5>
            <div class="social-icons">
                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Google"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div> -->
        </div>
    </div>
</body>

</html>