<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Crud-App</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://kit.fontawesome.com/1c7e477026.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="social-buttons">
        <!-- <a href="adduser/" ><i class="fa-solid fa-user-plus "></i></a>
        <a href="list/"><i class="fa-solid fa-users-viewfinder"></i></a>
        <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="#"><i class="fa-solid fa-user-xmark"></i></a> -->

        <a href="adduser/" class="circle_fl add">
            <i class="fa-solid fa-square-plus"></i>
        </a>

        <a href="list/" class="circle_fl read">
            <i class="fa-solid fa-database"></i>
        </a>

        <a href="list/" class="circle_fl upt">
            <i class="fa-solid fa-wrench"></i>
        </a>
        <a href="list/" class="circle_fl delete">
            <i class="fa-regular fa-trash-can"></i>
        </a>

        <a href="admin/" class="circle_fl admin">
            <i class="fa-brands fa-redhat"></i>
        </a>



    </div>
</body>

</html>